body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 0;
}

/* la tarjeta queda por encima del fondo */
.auth-card {
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgb(0, 0, 0);
    max-width: 450px;
    width: 100%;
    overflow: hidden;
}

/* Encabezado */
.auth-header {
    background: #2db3ac;
    color: #fff;
    text-align: center;
    padding: 25px 20px;
}

.auth-header img {
    max-width: 80px;
    margin-bottom: 10px;
}

/* Botones */
.btn-login {
    background: #88d498;
    border: none;
    font-weight: 600;
}

.btn-login:hover {
    background: #6ab37a;
}

.btn-secondary-custom {
    background: #1d7874;
    color: #fff;
    font-weight: 600;
    border: none;
}

.btn-secondary-custom:hover {
    background: #155e5a;
}