<!-- <h1>LOGIN WORKS¡</h1> -->
<a routerLink="/">Volver al inicio</a>

<div class="auth-card">
    <!-- Encabezado -->
    <div class="auth-header">
        <img src="https://cdn-icons-png.flaticon.com/512/2909/2909763.png" alt="Logo EcoMarket">
        <h3>EcoMarket</h3>
    </div>

    <!-- Formulario Login -->
    <div class="p-3" id="login-form">
        <form class="d-flex justify-content-center flex-column px-5" routerLink="/">
            <div class="mb-3">
                <label for="email-login" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email-login" placeholder="Ingrese su correo electronico">
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password-login" placeholder="Ingrese su contraseña">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-login text-white" style="min-width: 200px">Ingresar</button>
            </div>
        </form>
    </div>
</div>